
<div class="row justify-content-start md" id="{{this.id}}">
  
    <label name="id" hidden>{{this.id}}</label> 
    <div class="col"><input name="name" class="p-1"value="{{this.name}}" id="name{{this.id}}" disabled></div>
    <div class="col-3"><label name="email" class="p-1">{{this.email}}</label></div>
    <div class="col"><label name="password" class="p-1">{{this.password}}</label></div>
    <div class="col"><label name="cpf"  class="p-1">{{this.cpf}}</label></div>
    <div class="col"><label name="user_type" class="p-1">{{this.user_type}}</label></div>
    
    <div class="buttons col d-flex ">
      <div class="p-1">
        
          
        <a class="btnEditar btn btn-warning" name="btnE" id="btnE{{this.id}}">Editar</a>
        <form action="/admin/editar" method="post">
          <input type="text" name="id" value="{{this.id}}", hidden>
          <input type="submit" value="Salvar" class="btnEditar btn btn-success" name="btnS", id="btnS{{this.id}}" hidden>
        </form>

        
        
      </div>
      <form action="/carros/deleta" method="POST" class='p-1' >
        <input type="text" name="id" value="{{this.id}}", hidden>
        <input type="submit" value="Excluir" class="btn btn-danger" >
      </form>
    </div>
  

 
</div>


