

<div class="card">
  {{#if this.imgName}}
  <img src="/images/{{this.imgName}}.png" alt="" class="card-img-top" style="width: 20rem; ">
  {{else}}
  <img src="/images/null.png" alt="" class="imgCard card-img-top" style="width: 18rem;">
  {{/if}}
  
  <div class="card-body">
    <h4 class="card-title">{{this.nome}} {{this.modelo}}</h4>
    
    <h6 class="card-text">Detalhes:</h6>
    <div>
      <p>Fabricante: {{this.fabricante}} | Ano: {{this.ano}}</p>
      <p>Cor: {{this.cor}}</p>
      <p>Disponivel: {{this.disponivel}}</p>
      <h3 class="" style="color: green;">Valor por dia: {{this.valor_loc}}</h3>
    </div>
    {{#ifCond this.disponivel '!=' 'SIM' }}
      <a href="" class="btn btn-disabled">Indisponivel</a>
    {{else}}
      <a href="/locacao/adicionar/{{this.id}}" class="btn btn-success">Alugar</a>
    {{/ifCond}}
    <input id="dispInfo" type="text" value="{{this.disponivel}}" hidden>
    
  </div>
</div>

