<tr>
  <th scope="row" id="id{{this.id}}">{{this.id}}</th>
  <td id="carNome{{this.id}}">{{this.nome}}</td>
  <td id="carModelo{{this.id}}">{{this.modelo}}</td>
  <td id="carAno{{this.id}}">{{this.ano}}</td>
  <td id="carFab{{this.id}}">{{this.fabricante}}</td>
  <td id="carValor{{this.id}}">{{this.valor_loc}}</td>
  <td id="carCor{{this.id}}">{{this.cor}}</td>
  <td id="carAdic{{this.id}}">{{this.adicionais}}</td>
  <td id="carDisp{{this.id}}">{{this.disponivel}}</td>
  <td id="carImg{{this.id}}">{{this.imgName}}</td>

  <td>
    <div class="buttons d-flex">
      <div class="pe-1">
        <a onclick="editFieldsCar(btnEcar{{this.id}})"  class="btn btn-warning" name="btnE" id="btnEcar{{this.id}}">Editar</a>
      </div>
      <form action="/admin/carro/remover" method="POST" class='' >
        <input type="text" name="id" value="{{this.id}}", hidden>
        <input type="submit" value="Excluir" class="btn btn-danger" >
      </form>
  </td>
</tr>