<div class="title">
    <h1>Todas as Locações Realizadas</h1>
</div>

<table class="table table-striped container">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome Locatario</th>
      <th scope="col">Veiculo</th>
      <th scope="col">Data de Inicio da Locação</th>
      <th scope="col">Data Final da Locação</th>
      <th scope="col">Valor Total da Locação</th>
      <th scope="col">Status Locação</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {{#each loc}}
    <tr>
      <td>{{this.id}}</td>      
      <td>{{this.nome}}</td>
      <td>{{this.veiculo}}</td>
      <td>{{this.dataIn}}</td>
      <td>{{this.dataFim}}</td>
      <td>{{this.valor}}</td>
      <td>{{this.status}}</td>
      <td>
        <div class="col-md-4 actions d-flex ">
        {{#ifCond this.status '!=' 'Entregue'}}
          <form action="/locacao/editar/{{this.id}}">
            <input type="submit" class="btn btn-warning me-1" value="Editar">
          </form>
          
          <form action="/locacao/devolver/{{this.id}}" method="post">
            <input type="submit" class="btn btn-success" value="Devolver">
          </form>
        {{else}}
          <form action="/locacao/editar/{{this.id}}">
            <input type="submit" class=" me-1 btn-disabled" value="Editar">
          </form>
          
          <form action="/locacao/devolver/{{this.id}}" method="post">
            <input type="submit" class="btn-disabled" value="Devolver">
          </form>
        {{/ifCond}}
        
        
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>