<h1>Editando Carro</h1>


<form action="/car/edit" method="post" class="row m-3">

  <div class="row align-items-start">
    <div class="col-md-6">
      <input type="hidden" name="id" value="{{car.id}}" />

      <label for="nome" class="form-label">Nome:</label>
      <input type="text" name="nome" class="form-control" value="{{car.nome}}"/>
    </div>
  </div>

  <div class="row align-items-start">
    <div class="col-md-4">
      <label for="modelo" class="form-label">Modelo:</label>
      <input type="text" name="modelo" class="form-control" value="{{car.modelo}}"/>
    </div>
  </div>
  <div class="row align-items-start">
    <div class="col-md-4">
      <label for="ano" class="form-label">Ano:</label>
      <input type="text" name="ano" class="form-control" value="{{car.ano}}"/>
    </div>
  </div>
  <div class="row align-items-start">
    <div class="col-md-6">
      <label for="fabricante" class="form-label">Fabricante:</label>
      <input type="text" name="fabricante" class="form-control" value="{{car.fabricante}}"/>
    </div>
  </div>

  <div class="row align-items-start">
    <div class="col-md-4">
      <label for="valor_loc" class="form-label">Valor Locação:</label>
      <input type="text" name="valor_loc" class="form-control" value="{{car.valor_loc}}"/>
    </div>
  </div>
  <div class="row align-items-start">
    <div class="col-md-4">
      <label for="cor" class="form-label">Cor:</label>
      <input type="text" name="cor" class="form-control" value="{{car.cor}}"/>
    </div>
  </div>
  <div class="row align-items-start">
    <div class="col-md-6">
      <label for="disponivel" class="form-label">Disponivel:</label>
      <input type="text" name="disponivel" class="form-control" value="{{car.disponivel}}"/>
    </div>
  </div>

  <div class="row align-items-start">
    <div class="col-md-4">
      <label for="adicionais" class="form-label">Adicionais:</label>
      <input type="text" name="adicionais" class="form-control" value="{{car.adicionais}}"/>
    </div>
  </div>


  <div class="row align-items-start">
    <br>
    <div class="col-md-4">
      <input type="submit" value="Atualizar" />
      </select>
    </div>
  </div>
</form>